<launch>


	<arg name="port" default="/dev/ttyACM0" />

    <node name="px4flow" pkg="px4flow" type="px4flow_node" output="screen" respawn="true" clear_params="true">
        <param name="port" value="$(arg port)" type="str"></param>
        <param name="rate" value="115200" type="str"></param>
    </node>
</launch>
